<tr>
  <td><%=badge_rule.rule%></td>
  <td><%= badge_rule.description %></td>

  <td>
    <%= link_to t('.edit'),
      edit_admin_badge_rule_path(badge_rule),
      class: 'btn btn-sm btn-outline-primary' %>
  </td>

  <td>
    <%= link_to t('.delete'),
      admin_badge_rule_path(badge_rule),
      method: :delete,
      data: { confirm: t('.choice') },
      class: 'btn btn-sm btn-outline-primary' %>
  </td>
</tr>
