<h1><%= t('.header', title: @test_passage.test.title ) %></h1>

<% if  @test_passage.success? %>
  <span class='success'><%= t('.congratulations', percent: @test_passage.percent_correct_answers ) %></span>
<% else %>
  <span class='failure'><%= t('.lose', percent: @test_passage.percent_correct_answers ) %></span>
<% end %>
<br>
<br>

<%= link_to t('.back'), tests_path %>
