<footer>
  <br>
  <hr>
  <p> © <%= current_year %> Svetlana Solodovnikova</p>
  <p> <%= github_url('svslight', 'test-guru') %> - сайт, где вы можете пройти разные тесты. </p>
  <p> Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com/', target: '_blank' %> </p>
</footer>
